
        <!-- Page content-->
        <section class="py-5">
            <div class="container px-5">
                <!-- Contact form-->
                <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                    <div class="text-center mb-5">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                class="bi bi-envelope"></i></div>
                        <h1 class="fw-bolder">Leave a post!</h1>
                        <p class="lead fw-normal text-muted mb-0">We'd love to hear from you</p>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                
                                <!-- Post title input-->
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="title" type="text" placeholder="Enter the title..." />
                                    <label for="name">Post Title</label>
                                    <div class="invalid-feedback" >A title is required.
                                    </div>
                                </div>
                                <!-- Post input-->
                                <div class="form-floating mb-3">
                                    <textarea class="form-control" id="post-content" type="text"
                                        placeholder="Enter your message here..." style="height: 10rem"
                                    ></textarea>
                                    <label for="message">Enter Post</label>
                                    <div class="invalid-feedback" >A post is
                                        required.</div>
                                </div>
                                <div class="d-none" id="submitErrorMessage">
                                    <div class="text-center text-danger mb-3">Error posting!</div>
                                </div>
                                <!-- Submit Button-->
                                <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton"
                                        type="submit">Submit</button></div>
                        </div>
                    </div>
                </div>
                {{!-- <--------------mb-------------> --}}
                        <h2 style="color:rgb(17, 17, 26)">All Posts</h2>
                        <br><br>
                        {{#if posts.length}}
                        {{#each posts as |post|}}
                        <div class="post">
                            <h3 class="ml-4 mt-4 ext-3xl leading-8 font-bold tracking-tight text-gray-900 sm:text-3xl post-title"
                                value="post_title"><a href="post/{{id}}">{{title}}</a></h3>
                            <p>by {{user.username}} on {{format_date created_at}}</p>
                            <p class="ml-4 post-employer text-base text-indigo-600 font-semibold tracking-wide" value="post-content">
                                {{post_content}}</p>
                            <a href="post/{{id}}">comments: {{comments.length}}</a>
                
                            <a href="/dashboard/edit/{{post.id}}" class="post-edit">Edit Post</a>

                            {{else}}
                            <p class="mt-2 ml-2 text-2xl leading-8 tracking-tight text-gray-900 sm:text-2xl">No posts to display</p>
                            {{/each}}
                            </ol>
                            
                            {{/if}}
                                <small></span></small>
                            </div>
                        </div>
                    </div>
                    {{!-- <--------------mb-------------> --}}
                <!-- Contact cards-->
                <div class="row gx-5 row-cols-2 row-cols-lg-4 py-5">
                    <div class="col">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                class="bi bi-chat-dots"></i></div>
                        <div class="h5 mb-2">Chat with us</div>
                        <p class="text-muted mb-0">Chat live with one of our support specialists.</p>
                    </div>
                    <div class="col">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                class="bi bi-people"></i></div>
                        <div class="h5">Ask the community</div>
                        <p class="text-muted mb-0">Explore our community forums and communicate with other users.</p>
                    </div>
                    <div class="col">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                class="bi bi-question-circle"></i></div>
                        <div class="h5">Support center</div>
                        <p class="text-muted mb-0">Browse FAQ's and support articles to find solutions.</p>
                    </div>
                </div>
            </div>
        </section>

    <script src="/js/createPost.js"></script>
